@import '../../utilities/variables';

.content {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    main {
        grid-area: content;
        color: $accent1;
        display: grid;
        overflow: auto;
        background-color: $grey-600;
    }
}

@media (min-width: 768px) {
    .content {
        main {
            border-bottom: 0.5rem solid $brown-200;
            border-left: 0.5rem solid $brown-200;
            border-right: 0.5rem solid $brown-200;
        }
    }
}
