.content {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    main {
        grid-area: content;
        background-color: red;
    }
}
