.form-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;

    label, input {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    label {
        grid-row-start: 1;
        grid-row-end: 1;
    }
}
