@import '../../utilities/variables';

.login {
    grid-column-start: 2;
    grid-column-end: 2;

    h3 {
        text-align: center;
        color: $blue-300;
    }

    .login-fail {
        color: $grey-200;
    }

    .submit {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .register {
            font-size: 1.5rem;
            color: $blue-300;
        }
    }
}

@media (min-width: 1280px) {
    .submit {
        grid-column-start: 2;
        grid-column-end: 2;

        .register {
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
