@import '../../utilities/variables';
@import '../../utilities/mixins';

.login {
    grid-column-start: 1;
    grid-column-end: 4;

    h3 {
        text-align: center;
        color: $blue-300;
    }

    .login__fail {
        color: $grey-200;
    }

    @include form-link;
}

@media (min-width: 1280px) {
    .login {
        grid-column-start: 2;
        grid-column-end: 2;
        @include form-link-desktop;
    }
}
