@import './variables';

@mixin heading {
    h2 {
        text-align: center;
        color: $gray-100;
    }
    
    hr {
        box-shadow: 0 2px 4px $accent1Light;
        color: $gray-100;
    }
}
