$brown-200: #401600;
$brown-500: #F5A57A;

$grey-100: #403129;
$grey-200: #402b20;
$grey-300: #594b43;
$grey-500: #f2e3da;
$grey-600: #f2e3dabb;

$blue-300: #0077b8;
$blue-500: #9fd7f5;

$bodyFont: 1.25rem;

$primary2: #FFFFFF;
$accent1: #212529;
$accent1Light: #21252933;

$fontSize: 1.5rem;
