@import '../../utilities/variables';

h2 {
    text-align: center;
    color: $grey-100;
    display: flex;
    justify-content: space-evenly;
}

hr {
    box-shadow: 0 2px 4px $accent1Light;
    color: $grey-100;
    margin-bottom: 2rem;
}
