@import '../../utilities/variables';

label, input {
    font-size: $fontSize;
    color: $grey-200;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 1.5rem;
    width: auto;
}

input {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid $grey-300;
    box-shadow: inset 0px 1px 5px $grey-300;
    background-color: $grey-600;
    color: $grey-300;
}
