@import '../../utilities/variables';

.modal {
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $accent1Light;

    .modal__content {
        position: relative;
        margin: auto;
        width: 50%;
        background-color: $grey-500;;
        box-shadow: 0 4px 8px 0 $accent1Light,0 6px 20px 0 $accent1Light;

        .modal__header {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;

            img {
                width: 2rem;
                height: auto;
            }
        }

        .modal__body {
            p {
                font-size: $fontSize;
                text-align: center;
                color: $grey-100;
            }
        }

        .modal__footer {
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;
        }
    }
}

.show {
    display: block;
}
