@import '../../utilities/variables';
@import '../../utilities/mixins';

.registration {
    grid-column-start: 2;
    grid-column-end: 2;

    p {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
        color: $grey-200;
        font-size: $fontSize;
        text-align: center;
    }

    @include form-link;
}

@media (min-width: 1280px) {
    .registration {
        @include form-link-desktop;
    }
}
