@import '../../utilities/variables';
@import '../../utilities/mixins';

.registration {
    grid-column-start: 2;
    grid-column-end: 2;

    @include heading;

    p {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
        color: $gray-200;
        font-size: 1.5rem;
        text-align: center;
    }

    .submit {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
    }
}
