@import '../../utilities/variables';
@import '../../utilities/mixins';

.registration {
    grid-column-start: 1;
    grid-column-end: 4;

    .registration__fail {
        color: $grey-200;
        text-align: center;
    }

    @include form-link;
}

@media (min-width: 1280px) {
    .registration {
        grid-column-start: 2;
        grid-column-end: 2;
        @include form-link-desktop;
    }
}
