@import '../../utilities/variables';

button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.75rem;

    &:disabled {
        cursor: not-allowed;
    }
}

.primary, .secondary, .tertiary {
    min-width: 140px;
}

.primary {
    border: 1px solid $blue-500;
    background-color: $blue-500;
    font-size: $fontSize;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: $blue-300;

    &:hover {
        border: 1px solid $blue-300;
        color: $blue-500;
        background-color: $blue-300;
    }
}

.secondary, .tertiary {
    border: 2px solid $blue-300;
    color: $blue-300;
    font-size: $fontSize;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.tertiary {
    border: none;
}
