@import '../../utilities/variables';

header {
    grid-area: header;
    background-color: $brown-200;
    color: $brown-500;
    display: grid;
    grid-template-areas: "logo title user";
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;

    .logo {
        grid-area: logo;
        
        .logo__img {
            width: 6rem;
            height: auto;
        }
    }

    .title {
        grid-area: title;
        margin: 0;
        font-size: $fontSize;
        display: flex;
        justify-content: space-evenly;

        img {
            width: 2rem;
            height: auto;
        }
    }

    .user {
        grid-area: user;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .user__icon {
            width: 3rem;
            height: auto;
            justify-self: end;
        }
    }
}


@media (min-width: 768px) {
    header {
        grid-area: header;
        background-color: $brown-200;
        color: $brown-500;
        display: grid;
        grid-template-areas: ". logo title user .";
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        padding: 1rem 0 1rem 0;
    
        .logo {
            width: 10rem;
            height: auto;
        }
    
        .title {
            margin: 0;
            text-align: center;
        }

        div .user-menu {
            width: 5rem;
            height: auto;
            justify-self: end;
        }
    }
}
