@import '../../utilities/variables';

header {
    grid-area: header;
    background-color: $primary1;
    color: $primary3;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    align-items: center;

    .logo {
        width: 6rem;
        height: auto;
    }

    .title {
        margin: 0;
        font-size: 1.5rem;
    }

    div {
        display: flex;
        justify-content: flex-end;

        .user-menu {
            width: 4rem;
            height: auto;
            justify-self: end;
        }
    }
}


@media (min-width: 375px) {
    header {
        grid-area: header;
        background-color: $primary1;
        color: $primary3;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        align-items: center;
    
        .logo {
            width: 10rem;
            height: auto;
        }
    
        .title {
            margin: 0;
        }

        div .user-menu {
            width: 5rem;
            height: auto;
            justify-self: end;
        }
    }
}
