.project-create {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    
    h2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    form {
        grid-row-start: 2;
    }
}

@media (min-width: 1280px) {
    .project-create {
    }
}
