@import '../../utilities/variables';

.menu {
    position: absolute;
    right: 0;
    bottom: -2rem;
    margin: 0;
    padding: 0;
    background-color: $grey-500;
    box-shadow: 0 4px 8px 0 $accent1Light,0 6px 20px 0 $accent1Light;

    li {
        list-style: none;
        padding: 0.25rem 0.5rem;

        &:hover {
            border: 2px solid $blue-300;
            background-color: $blue-300;
        }
        
        & > * {
            font-size: $bodyFont;
        }

        button {
            color: $grey-200;

            &:hover {
                color: $blue-500;
            }
        }
    }
}
